In [21]:
# Import Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

# Converting CSV into DataFrame and dropping useless column
combined = pd.read_csv("total_df.csv")
combined = combined.drop(columns=["Unnamed: 0"])

# Creating a new DataFrame with only state data
state_filtered = combined[combined["County"] == "state"]
state_filtered

,Year,County,Total Population,Total Crime,Classification,Orig_DF
160,2012,state,6817770,301233,NaN,Violence + Murder
161,2013,state,6882400,324057,NaN,Violence + Murder
162,2014,state,6968170,349880,NaN,Violence + Murder
163,2015,state,7061410,362040,NaN,Violence + Murder
164,2016,state,7183700,415368,NaN,Violence + Murder
360,2012,state,6817770,148982,NaN,Robbery
361,2013,state,6882400,166443,NaN,Robbery
362,2014,state,6968170,186992,NaN,Robbery
363,2015,state,7061410,190404,NaN,Robbery
364,2016,state,7183700,220813,NaN,Robbery
560,2012,state,6817770,279397,NaN,Properties
561,2013,state,6882400,297348,NaN,Properties
562,2014,state,6968170,319331,NaN,Properties
563,2015,state,7061410,327047,NaN,Properties
564,2016,state,7183700,373540,NaN,Properties
760,2012,state,6817770,46620,NaN,Drug
761,2013,state,6882400,40456,NaN,Drug
762,2014,state,6968170,43084,NaN,Drug
763,2015,state,7061410,45488,NaN,Drug
764,2016,state,7183700,56875,NaN,Drug
960,2012,state,6817770,3995,NaN,Sexual
961,2013,state,6882400,4109,NaN,Sexual
962,2014,state,6968170,4588,NaN,Sexual
963,2015,state,7061410,4814,NaN,Sexual
964,2016,state,7183700,5830,NaN,Sexual
1160,2012,state,6817770,330669,NaN,Overall
1161,2013,state,6882400,360444,NaN,Overall
1162,2014,state,6968170,387449,NaN,Overall
1163,2015,state,7061410,401051,NaN,Overall
1164,2016,state,7183700,460825,NaN,Overall

In [22]:
# Creating a DataFrame with only data from overall crime
# and using the year column as an index
overall_df = state_filtered[state_filtered["Orig_DF"] == "Overall"]
overall_df.set_index('Year', inplace=True)
overall_df

     County  Total Population  Total Crime Classification  Orig_DF
Year
2012  state           6817770       330669            NaN  Overall
2013  state           6882400       360444            NaN  Overall
2014  state           6968170       387449            NaN  Overall
2015  state           7061410       401051            NaN  Overall
2016  state           7183700       460825            NaN  Overall

In [34]:
# Ttest
overall_pre = overall_df["Total Crime"].loc[2012:2014]
overall_after = overall_df["Total Crime"].loc[2014:2016]

stats.ttest_rel(overall_pre, overall_after)

Ttest_relResult(statistic=-6.017109226033816, pvalue=0.026525985004487877)

In [24]:
# Creating a DataFrame with only data from violence + murder crimes
# and using the year column as an index
viol_df = state_filtered[state_filtered["Orig_DF"] == "Violence + Murder"]
viol_df.set_index('Year', inplace=True)
viol_df

     County  Total Population  Total Crime Classification            Orig_DF
Year
2012  state           6817770       301233            NaN  Violence + Murder
2013  state           6882400       324057            NaN  Violence + Murder
2014  state           6968170       349880            NaN  Violence + Murder
2015  state           7061410       362040            NaN  Violence + Murder
2016  state           7183700       415368            NaN  Violence + Murder

In [25]:
# Ttest
viol_pre = viol_df["Total Crime"].loc[2012:2014]
viol_after = viol_df["Total Crime"].loc[2014:2016]

stats.ttest_ind(viol_pre, viol_after, equal_var=False)

Ttest_indResult(statistic=-2.0667450870816424, pvalue=0.11585096393346576)

In [27]:
rob_df = state_filtered[state_filtered["Orig_DF"] == "Robbery"]
rob_df.set_index('Year', inplace=True)

rob_pre = rob_df["Total Crime"].loc[2012:2014]
rob_after = rob_df["Total Crime"].loc[2014:2016]

stats.ttest_ind(rob_pre, rob_after, equal_var=False)

Ttest_indResult(statistic=-2.0775028640323834, pvalue=0.10635536485330326)

In [28]:
prop_df = state_filtered[state_filtered["Orig_DF"] == "Properties"]
prop_df.set_index('Year', inplace=True)

prop_pre = prop_df["Total Crime"].loc[2012:2014]
prop_after = prop_df["Total Crime"].loc[2014:2016]

stats.ttest_ind(prop_pre, prop_after, equal_var=False)

Ttest_indResult(statistic=-2.014294752520673, pvalue=0.12357132482811234)

In [29]:
drug_df = state_filtered[state_filtered["Orig_DF"] == "Drug"]
drug_df.set_index('Year', inplace=True)

drug_pre = drug_df["Total Crime"].loc[2012:2014]
drug_after = drug_df["Total Crime"].loc[2014:2016]

stats.ttest_ind(drug_pre, drug_after, equal_var=False)

Ttest_indResult(statistic=-1.104626934986356, pvalue=0.35841707947389007)

In [33]:
sex_df = state_filtered[state_filtered["Orig_DF"] == "Sexual"]
sex_df.set_index('Year', inplace=True)

sex_pre = sex_df["Total Crime"].loc[2012:2014]
sex_after = sex_df["Total Crime"].loc[2014:2016]

stats.ttest_rel(sex_pre, sex_after)

Ttest_relResult(statistic=-4.227132216853817, pvalue=0.05166520049073005)